body
{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(56, 56, 56);
}

.footer
{
  text-align: center;
  vertical-align: top;
  margin-top: auto;
}


.logo
{
  height: auto;
  width: 100%;
  margin-top: 20vw;
}

.icon
{
  margin: 1vw;
  font-weight: 900;
  font-size: 5vw;
}

.stroke
{
    paint-order: stroke fill;
    -webkit-text-stroke: 0.05vw rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-text
{
  font-weight: 600;
}

.albums
{
  font-weight: 100;
  font-size: 4vw;
}
  
@media screen and (orientation:landscape) 
{   
  .bg
  {
    background-size: 150vw auto;
    background-image: url(assets/splashdark.png);
    -webkit-animation: AnimateBG 60s ease infinite;
    animation: AnimateBG 60s ease infinite;    
  }
}

@media screen and (orientation:portrait) 
{
  .bg
  {
    background-image: url(assets/splashdark.png);
    background-size: cover;
    background-position-x: center;
  }
}

@-webkit-keyframes AnimateBG 
{
  0%
  {
    background-position: 0% 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}
  
@keyframes AnimateBG 
{
  0%
  {
    background-position: 0% 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}