body
{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(56, 56, 56);
}

.footer
{
  text-align: center;
  vertical-align: top;
  margin-top: auto;
}


.logo
{
  height: auto;
  width: 100%;
  margin-top: 20vw;
}

.icon
{
  margin: 1vw;
  font-weight: 900;
  font-size: 5vw;
}

.stroke
{
    paint-order: stroke fill;
    -webkit-text-stroke: 0.05vw rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-text
{
  font-weight: 600;
}
  
@media screen and (orientation:landscape) 
{   
}

@media screen and (orientation:portrait) 
{
}

.bg 
{
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(46, 46, 46, 0.76) 51%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG 
{
  0%
  {
    background-position: 0% 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}
  
@keyframes AnimateBG 
{
  0%
  {
    background-position: 0% 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}